*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: cursive;
}
h1{
    text-align: center;
    margin-top: 2rem;
}
.container{
    margin-top: 3rem;
    width: 100%;
    padding: 0 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    box-sizing: border-box;
}
.Box-1-2{
    display: flex;
}
.Box{
    /* display: inline; */
    box-sizing: border-box;
    background-color: peru;
    width: 100%;
    /* margin: 0 15px; */
    padding-left:10px;
    border: 1px solid #000;
}
.Box-heading{
    background-color: darkgrey;
    border: 1px solid #000;
    text-align: center;
    float: right;
    width: 8rem;
}
.Box p{
    margin-top: 3rem;
}
@media screen and (min-width:767px) and (max-width:991px){
    .container{
        display: grid;
        grid-template-columns: auto auto;
    }
    #Box-3{
        width: 208%;
        margin-top: 2rem;
    }
}
@media screen and (max-width:767px){
    .container{
        display: block;
    }
    .Box{
        margin-top: 20px;
    }
}